<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Titulo</title>

    <style type="text/css">

        body {
            margin: 0px;
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid #545454;
            padding: 2px;
            text-align: left;
            font-size: 16px;
        }

        th {
            border: 1px solid #545454;
            padding: 5px;
            text-align: left;
            background-color: #b5b5b5;
            font-size: 16px;
        }

        .Corpo {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 12px;
            /*width: 1024px;*/
            left: 50%;
            margin: auto;
        }

        p {
            text-align: justify;
        }

        .semBorda {
            border: none;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

        footer {
            margin: 20px 0;
            font-size: 14px;
        }

        @@media print {
            .no-print {
                display: none !important;
            }

            /***** Faz com que a quebra de linha fique correta *****/
            thead {
                display: table-row-group;
            }

            tfoot {
                display: table-row-group;
            }

            tr {
                page-break-inside: avoid;
            }
            /*******************************************************/
            th {
                border: 1px solid black;
                padding: 5px;
                text-align: left;
                background-color: #a8a8a8;
                background-color: #a8a8a8 !important;
                -webkit-print-color-adjust: exact;
            }
        }

    </style>
</head>
<body>
    <header class="no-print" style="height: 45px; width: 100%; background-color: #5f5f5f; margin-bottom: 20px;">
        <button class="btn btn-primary print-default" style="float: right; margin: 5px 20px 5px 5px;" data-loading="false" onclick="window.print();">Imprimir</button>
    </header>

    <div class="Corpo">
        <table>
            <tbody>
                <tr>
                    <td class="semBorda" style="width:12%">
                        <img src="/images/Smartfleet.png">
                    </td>
                    <td class="semBorda" style="width: 88%">
                        @if (ViewBag.Titulo != null) { 
                            <h2><b>@ViewBag.Titulo</b></h2>
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        @RenderBody()

        <footer>
            @(string.Format("{0} {1}", "Data: ", DateTime.Now.ToString("dd/MM/yyyy hh:mm")))
        </footer>
    </div>
</body>
</html>
