@{
    Layout = null;
}
<nav class="nav-primary hidden-xs">
    <div class="text-muted text-sm hidden-nav-xs padder-h m-t-sm m-b-sm">Navegação</div>
    <ul class="nav nav-main" data-ride="collapse">
        <li class="">
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                </span>
                <i class="i i-grid i-1x "></i>
                <strong>Administração</strong>
            </a>
            <ul class="nav dk" style="display: none;">  
                <li>
                    <a href="/Colaborador/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Colaborador</span>
                    </a>
                </li>
                <li>
                    <a href="/Exame/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Exame Médico</span>
                    </a>
                </li>               
                <li>
                    <a href="/PessoaJuridica/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Pessoa Jurídica</span>
                    </a>
                </li>
                <li>
                    <a href="/Aluguel/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Aluguel</span>
                    </a>
                </li>                  
            </ul>
        </li>
        <li class="">
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                </span>
                <i class="i i-copy2 i-1x "></i>
                <strong>Cadastros</strong>
            </a>
            <ul class="nav dk" style="display: none;">
                <li>
                    <a href="/Veiculo/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Veículo</span>
                    </a>
                </li>
                <li>
                    <a href="/Abastecimento/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Abastecimento</span>
                    </a>
                </li>                 
                <li>
                    <a href="/Multa/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Multa</span>
                    </a>
                </li>                           
                <li>
                    <a href="/Seguro/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Seguro</span>
                    </a>
                </li>
                <li>
                    <a href="/Sinistro/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Sinistro</span>
                    </a>
                </li> 
                <li>
                    <a href="/Produto/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Produto</span>
                    </a>
                </li>                                                                   
            </ul>
        </li>
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                </span>
                <i class="fa fa-cogs fa-1x "></i>
                <strong>Serviços</strong>
            </a>
            <ul class="nav dk">
                <li>
                    <a href="/Transporte/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Solicitar Veículo</span>
                    </a>
                </li>
                <li>
                    <a href="/Manutencao/Pesquisar" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Manutenção de Veículo</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                </span>
                <i class="i i-file-powerpoint i-1x "></i>
                <strong>Relatórios</strong>
            </a>
            <ul class="nav dk">
                <li>
                    <a href="/Seguro/Relatorio" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Seguro</span>
                    </a>
                </li>
                <li>
                    <a href="/Abastecimento/Relatorio" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Abastecimento</span>
                    </a>
                </li>
                <li>
                    <a href="/Transporte/Relatorio" class="auto menu">
                        <i class="i i-dot"></i>
                        <span>Solicitação de Veículo</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

