@{
    Layout = null;
}
<div class="clearfix wrapper dk nav-user hidden-xs">
    <div class="dropdown">
        <figure class="thumb avatar pull-left m-r">
            <img src="/images/profile/avatar.png" alt="@ViewBag.NomeUsuario" class="dker">
            <i class="on md b-black"></i>
        </figure>
        <span class="hidden-nav-xs clear">
            <span class="m-b-xs text-black">
                <!-- @*<strong>@ViewBag.NomeUsuario</strong>*@ -->
                <strong>Matias Magno Rodrigues Silveira</strong>
            </span>
            <!-- @*<span class="text-muted text-xs block">@ViewBag.NomeCargo</span>*@ -->
        </span>
    </div>
</div>