@{
    Layout = null;
}
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="i i-chat3"></i>
    <span class="badge badge-sm up bg-danger count">2</span>
    <span class="hidden-sm">Mensagens</span>
</a>
<section class="dropdown-menu aside-xl">
    <section class="panel bg-white">
        <header class="panel-heading b-light bg-light">
            Você tem notificações <span class="badge pull-right">2</span>
        </header>
        <article>
            <div class="list-group list-group-alt m-b-none">
                <a href="#" class="media list-group-item">
                    <span class="pull-left thumb-sm">
                        <img src="images/profile/a0.jpg" alt="John said" class="img-circle">
                    </span>
                    <span class="media-body block m-b-none">
                        Seja bem vindo ao sistema.<br>
                        <small class="text-muted">10 minutos atrás</small>
                    </span>
                </a>
                <a href="#" class="media list-group-item">
                    <span class="media-body block m-b-none">
                        1.0 primeiro lançamento<br>
                        <small class="text-muted">1 dia atrás</small>
                    </span>
                </a>
            </div>
        </article>
        <footer class="panel-footer text-sm">
            <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
            <a href="#notes" data-toggle-class="show">Veja todas as notificações</a>
        </footer>
    </section>
</section>

