@{
    ViewBag.Title = "Home";
}

<div>
    <a class="navbar-brand text-center">
        <figure class="inline">
            <img src="~/images/Bem vindo.png" alt="@ViewBag.Title" height="600px" width="1000px" />
        </figure>
    </a>    
</div>