@model SmartFleet.Domain.ViewModel.Produto;
@{
    ViewBag.Title = "Pesquisar Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Current = " Cadastro / Produto / Pesquisar";
}

<form id="formPesquisar" class="form" role="form">
    <section class="panel panel-default">
        <article class="panel-body">
            <div class="row">
                 <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CodProduto, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.CodProduto, new { @class = "form-control" })
                    </div>
                </div>               
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.NomProduto, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.NomProduto, new { @class = "form-control"})
                    </div>
                </div>                  
            </div>
        </article>
        <footer class="panel-footer">
            <button type="button" class="btn btn-primary btnPesquisar"><i class="fa fa-search"></i> Pesquisar</button>
            <button type="button" class="btn btn-default btn-reset-form" data-loading="false"><i class="fa fa-eraser"></i> Limpar</button>
            <a href=@Url.Action("Incluir", "Produto") class="btn btn-default"><i class="fa fa-plus-circle"></i> Incluir</a>
        </footer>
    </section>
</form>

<!--Datatable Pesquisar-->
<form id="form-result" class="form" role="form">
    <div class="panel panel-default hide datatable table-responsive">
        <table id="gridResultado"
               class="table table-striped b-t b-light table-bordered table-hover datatable"
               data-crud="true"
               data-form-id="formPesquisar"
               data-object-id="ideProduto"
               data-controller="Produto"
               data-function-column="onColumnGrid"
               data-columns-data="codProduto,nomProduto"
               data-columns-title="Código do Produto,Nome do Produto">
        </table>
    </div>
</form>

@section customsJs {
    <script type="text/javascript">
    
        var validator = $( "#formPesquisar" ).validate();
        validator.resetForm();

        function onColumnGrid(data) 
        {
            data.columns[0].width = "25%";
            return data;            
        }
    </script>
}
