@model SmartFleet.Domain.ViewModel.Manutencao;
@{
    ViewBag.Title = "Pesquisar Manutenção de Veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Current = " Cadastro / Manutenção de Veículo / Pesquisar";
}

<form id="formPesquisar" class="form" role="form">
    <section class="panel panel-default">
        <article class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdeVeiculo, new { @class = "control-label" })
                        <select class="form-control" 
                                id="IdeVeiculo"
                                name="IdeVeiculo"
                                asp-for="IdeVeiculo" 
                                asp-items="ViewBag.Veiculo">
                            <option value="">Selecione</option>
                        </select> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdeColaborador, new { @class = "control-label" })
                        <select class="form-control" 
                                id="IdeColaborador"
                                name="IdeColaborador"
                                asp-for="IdeColaborador" 
                                asp-items="ViewBag.Mecanico">
                            <option value="">Selecione</option>
                        </select> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdcTipoManutencao, new { @class = "control-label" })
                        <select class="form-control" 
                                id="IdcTipoManutencao"
                                name="IdcTipoManutencao"
                                asp-for="IdcTipoManutencao" 
                                asp-items="ViewBag.TipoManutencao">
                            <option value="">Selecione</option>
                        </select> 
                    </div>
                </div>                               

            </div>
        </article>
        <footer class="panel-footer">
            <button type="button" class="btn btn-primary btnPesquisar"><i class="fa fa-search"></i> Pesquisar</button>
            <button type="button" class="btn btn-default btn-reset-form" data-loading="false"><i class="fa fa-eraser"></i> Limpar</button>
            <a href=@Url.Action("Incluir", "Manutencao") class="btn btn-default"><i class="fa fa-plus-circle"></i> Incluir</a>
        </footer>
    </section>
</form>

<!--Datatable Pesquisar-->
<form id="form-result" class="form" role="form">
    <div class="panel panel-default hide datatable table-responsive">
        <table id="gridResultado"
               class="table table-striped b-t b-light table-bordered table-hover datatable"
               data-crud="true"
               data-form-id="formPesquisar"
               data-object-id="ideManutencao"
               data-controller="Manutencao"
               data-columns-data="veiculo.dscMarcaModelo,colaborador.nomColaborador,idcTipoManutencao,dthEntrada,dthSaida"
               data-columns-title="Veículo,Mecânico Responsável,Tipo de Manutenção,Entrada na Manutenção,Saída da Manutenção">
        </table>
    </div>
</form>

@section customsJs {
    <script type="text/javascript">
        var validator = $( "#formPesquisar" ).validate();
        validator.resetForm();
    </script>
}
